%br
= link_to "Back", :back, class: "btn btn-info"
%h3= "Transactions for account: #{@account.name}"

%table.table.table-bordered
  %thead
    %td ID
    %td Description
    %td Amount
    %td Currency
    %td Made on
    %td Created
  %tbody
  - @transactions.each do |transaction|
    %tr
      %td= transaction.id
      %td= transaction.description
      %td= transaction.amount
      %td= transaction.currency
      %td= transaction.made_on
      %td= transaction.created_at.strftime("%Y-%m-%d %H:%M:%S")
