!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Presentation
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.container
    - if current_user
      %h3 User
      %code= "Email: #{current_user.email}"
      %br
      %code= "App id: #{current_user.app_id}"
      %br
      %code= "Secret: #{current_user.secret}"
      %br
      %br
      = button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-warning"
      %br
      = link_to "Back", users_connections_path, class: "btn btn-info"
      %hr
    = yield

    = content_tag(:div, flash[:error],  :class => "alert alert-danger") if flash[:error]
    = content_tag(:div, flash[:notice], :class => "alert alert-info")   if flash[:notice]
    - flash.clear